<div class="row">
  <% photo.each_with_index do |image| %>
    <div class="col-sm-2">
      <a href="<%=FlickRaw.url_b(image)%>" data-lightbox="image-1">
        <%= image_tag FlickRaw.url_q(image), class: "img-thumbnail", size: "150x150" %>
      </a>
    </div>
  <% end %>
</div>